<div ng-controller="detailsController" ng-init="initializeController()">

<!-- 1st section  -->
<section class="first-banner" style="background:url(assets/images/seed/{{detailsId}}/childhood/profile_pic.jpg) no-repeat;background-size: cover;">	
	<div class="m-fav">{{user.childhood}}</div>
	
</section>
<!-- 1st section  End -->


<!-- 2nd section  -->
<section class="second-sec">
	<div class="container top-container">
    	<div class="pd-user-name">
        	
        	<div class="usr-img"><img src="assets/images/seed/{{detailsId}}/profile_pic.jpg" width="70px" height="70px"/></div>
        	
        	Posted on January 13, 2013 <br />
			By {{user.name}} 
        </div>
    </div>
</section>
<!-- 2nd section  End -->
<!-- 3rd Section -->
<section class="pd-orange">
	<div class="container top-container">
    	<div class="row">
        	<div class="col-md-12 single-line">Why The Dark Knight's Batman Won't Be In Any Other Superhero Movies</div>
        </div>
        <div class="row">
        	<div class="col-md-8 multi-line">
            	Christian Bale’s portrayal of Batman in The Dark Knight series will go down in history books as one of the best Batman performances to date. And while there’s been speculation on the return of The Dark Knight’s Batman, Bale has put the notion to rest, assuring that his portrayal doesn’t fit in any other superhero movies.<br />
While Bale has been busy promoting his upcoming role in Exodus: Gods and Kings, he’s been blasted with questions on his reaction to the new Batman introduced in upcoming Batman V Superman: Dawn of Justice. In a recent interview with IGN, Bale denied a return for his caped crusader stating that though The Dark Knight’s Batman is a "character that could have kept on going and going and going, it was right for Chris [Nolan] to finish it where he did… And ours doesn’t belong in any other version."
            </div>
            <div class="col-md-4">
            	<img src="assets/images/2_img.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>

<!-- 3rd Section End -->

<!-- 4th section -->
<section class="pd-gray">
	<div class="container top-container">
    <div class="row">
    	<div class="col-md-12">
        	TDKR features 100 minutes of action sequences and much of the movie was shot using IMAX cameras. With that in mind, the best way to view the film is most likely on a 70 mm IMAX screen. As Screen Rant's Kofi Outlaw previously explained, "you aren’t really getting 'the full' IMAX experience – especially the one Chris Nolan intended – without that 70mm IMAX theater. 70mm is the only way you will be able to see everything that Nolan shot on IMAX cams." So even if it's out of your way, driving to see the movie the way that it was intended to be screened would be preferable to seeing it on a digital IMAX screen (or a regular one).
        </div>
    </div>
    </div>
</section>
<!-- 4th section End -->

<!-- 5th section -->
<section class="pd-big-bg">
	
</section>
<!-- 5th section End-->

<!-- 6th section -->

<section class="clearfix">
	<div class="container top-container">
    	<div class="six-img clearfix">
        	<ul>
            	<li><img src="assets/images/pd_man1.jpg" /></li>
                <li><img src="assets/images/pd_man2.jpg" /></li>
                <li><img src="assets/images/pd_man3.jpg" /></li>
                <li><img src="assets/images/pd_man4.jpg" /></li>
                <li><img src="assets/images/pd_man5.jpg" /></li>
                <li><img src="assets/images/pd_man6.jpg" /></li>
            </ul>
        </div>
        <div class="simple-text">
        	When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, the caped crusader must come<br /> to terms with one of the greatest psychological tests of his ability to fight injustice.
        </div>
    </div> 
</section>




<!-- 6th section End-->


</div>